In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Popis Fam/Impo_KHT_Enero_2021.xlsx')

In [70]:
df.shape # the shaped method returns a tuple with the n° of rows and columns, respectively

(430669, 19)

In [5]:
for i in df.columns:
  print("La columna",i,"tiene",df[i].nunique(),"valores unicos")

La columna AÑO tiene 1 valores unicos
La columna MES tiene 1 valores unicos
La columna FECHA tiene 31 valores unicos
La columna CUIT tiene 10535 valores unicos
La columna NOMBRE tiene 9858 valores unicos
La columna NCM tiene 11274 valores unicos
La columna CODORIGEN tiene 144 valores unicos
La columna ORIGEN tiene 144 valores unicos
La columna DESTINAC tiene 104 valores unicos
La columna CODMEDIDA tiene 32 valores unicos
La columna MEDIDA tiene 32 valores unicos
La columna CANTIDAD tiene 23555 valores unicos
La columna FOB_USS tiene 183961 valores unicos
La columna CIF_USS tiene 183961 valores unicos
La columna KGS_NETOS tiene 78100 valores unicos
La columna SEGURO tiene 1 valores unicos
La columna FLETE tiene 1 valores unicos
La columna CODADUANA tiene 57 valores unicos
La columna ADUANA tiene 54 valores unicos

In [93]:
paises_repes = pd.DataFrame(df["ORIGEN"].value_counts()) # .tolist()
pd.set_option('display.max_rows', paises_repes.shape[0]+1)
paises_repes
# df['ORIGEN'].value_counts()

                              ORIGEN
China                          92627
Brasil                         86299
Estados Unidos                 40646
Alemania                       30944
Italia                         18517
Francia                        15228
México                         12643
Japón                          12371
Tailandia                      11851
España                         10222
India                           6954
Corea del Sur                   6786
Taiwan                          6407
Vietnam                         6045
Reino Unido                     5338
Turquía                         5337
República Checa                 4549
Polonia                         4392
Suecia                          3891
Rumania                         3496
Hungría                         2748
Suiza                           2679
Argentina - AAE T. del Fuego    2670
Canadá                          2510
Eslovaquia                      2430
Uruguay                         2095
Indonesia                       1930
Portugal                        1716
Malasia                         1682
Austria                         1560
Chile                           1501
Países Bajos                    1469
Marruecos                       1442
Bélgica                         1440
Dinamarca                       1408
Sudáfrica                       1166
Paraguay                        1083
Finlandia                       1000
Filipinas                        995
Perú                             945
Irlanda                          750
Bulgaria                         681
Israel                           666
Singapur                         632
Colombia                         629
Argentina                        571
Túnez                            486
Sin Consignar por DGA            450
Camboya (ex Kampuchea)           443
Hong Kong                        443
Rusia                            439
Ecuador                          382
Australia                        368
Eslovenia                        330
Malta                            278
Lituania                         274
Bolivia                          269
Paquistán                        252
Bangladesh                       244
Egipto                           189
Croacia                          183
Bosnia Herzegovina               174
Estonia                          168
Uruguay - Colonia (ZF)           161
Costa Rica                       154
Noruega                          141
Puerto Rico                      139
Nueva Zelanda                    131
Montenegro                       127
República Dominicana             127
Ucrania                          108
Brasil - Manaos (ZF)             102
Luxemburgo                       101
Sri Lanka                         96
Arabia Saudita                    89
Cuba                              81
Emiratos Arabes Unidos            68
Grecia                            61
Myanmar (ex Birmania)             58
Corea del Norte                   51
Letonia                           49
Bielorrusia                       35
Argentina - Gral. Pico (ZF)       33
Islandia                          33
Kenya                             32
Honduras                          28
Macau - Terr. Portugués           22
Macedonia                         22
Panamá                            22
Líbano                            17
El Salvador                       15
Argelia                           14
Qatar                             14
Indeterminado (Europa)            13
Guatemala                         13
Albania                           12
San Marino                        12
Chipre                            12
Indeterminado (América)           11
Trinidad y Tobago                 10
Territ. Británicos (America)      10
Islas Mauricio                    10
Madagascar                         9
Venezuela                          9
Tanzania                           6
Omán                               5
Liechtenstein                      5
Haití                              4
Uruguay - Río Negro (ZF)           4
Mozambique                         4
Armenia                            4
Moldova                            4
Ghana                              4
Irán                               4
Belice                             3
Uzbekistan                         3
Bahrein                            3
Islas Marshall                     3
Kazajstan                          3
Brunei                             3
Laos                               3
Mónaco                             3
Nicaragua                          3
Etiopía                            2
Senegal                            2
San Cristóbal y Nevis              2
Sierra Leona                       2
Jordania                           2
Burkina Faso                       2
Zimbabwe                           2
Jamaica                            2
Georgia                            2
Bahamas                            2
Siria                              2
Kuwait                             2
Namibia                            1
Nigeria                            1
Terr. Aut. Palestinos              1
Comoras                            1
Fiji                               1
Congo                              1
Guinea                             1
Somalia                            1
Gabón                              1

In [86]:
repes.shape

(144, 1)

In [94]:
destinac_repes = pd.DataFrame(df["DESTINAC"].value_counts())
destinac_repes

      DESTINAC
IC04    173689
ICR3     76645
IC05     34772
IG04     27796
DIR5     17490
IG05     15680
IDA4     12391
IC03      8812
ZFI5      7756
TRM4      7307
ZFE1      6778
IC06      6418
TR04      4685
IG06      4086
DIR3      3871
DIR4      2710
ICR2      2641
ECA1      2539
PI04      1733
ICR1      1186
PRI1      1036
IT14       965
IG07       841
IG03       817
TG17       563
IC84       540
PIT1       536
TR06       473
TLR1       441
PI05       362
TG15       325
IT01       318
TG16       317
IT15       275
IC01       258
TG14       251
IC24       230
TG13       184
ICR4       182
IT04       172
TG01       171
IC82       169
TRM6       153
ZFTR       152
ECA2       131
IG31       125
IC81       106
IC65        96
ICRF        86
TG05        86
IC34        85
PRI5        78
IC35        78
IC02        73
TRP4        72
IT11        67
IC83        57
IT16        56
IC31        54
TZF5        44
RZF5        44
TRM5        43
PI01        43
PIT5        42
IG81        39
ZFI6        35
ZFE3        33
IG82        31
IC25        28
PIT4        26
DIR6        24
PRI4        21
TG07        21
IT13        20
IT05        19
IG34        17
IG01        15
PI83        15
TG06        13
TG04        13
ZFI8        12
ECA3        12
IC99        11
IG83         9
IC33         9
IG35         8
TRP1         7
IS31         6
IT03         6
TG03         6
IC55         5
IT65         5
TR05         3
IG24         3
PI06         2
IS14         2
ZFI2         2
ETA1         2
TRP5         2
IS06         1
ZFET         1
IS21         1
ZFI3         1
ZFI4         1

In [89]:
df1 = pd.read_excel('/content/drive/MyDrive/Popis Fam/Terminales1.xlsx')
df1

          Terminal         CUIT
0    MERCEDES BENZ  30502987360
1          RENAULT  30503317814
2       VOLKSWAGEN  30504018845
3              PSA  30504744538
4           SCANIA  30517424303
5            IVECO  30585895268
6   GENERAL MOTORS  30662071680
7             FORD  30678519681
8              FCA  30682450963
9           TOYOTA  33679139369
10           HONDA  30577546777
11          NISSAN  30711585350

In [95]:
df2 = pd.read_excel('/content/drive/MyDrive/Popis Fam/destinacion_impo.xls')
df2 = df2.rename(columns = {'Codigo' : 'DESTINAC'})
df2

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

   DESTINAC
0      ECA3
1      IC01
2      IC02
3      IC03
4      IC04
5      IC05
6      IC06
7      IC07
8      IC65
9      IC75
10     IG01
11     IG02
12     IG03
13     IG04
14     IG05
15     IG06
16     IG07
17     ZFE1
18     IT01
19     IT03
20     IT04
21     IT05
22     IT06
23     IT07
24     IT11
25     IT13
26     IT14
27     IT15
28     IT16
29     IT17
30     IT18
31     IT65
32     TG01
33     TG03
34     TG04
35     TG05
36     TG06
37     TG07
38     TG11
39     TG13
40     TG14
41     TG15
42     TG16
43     TG17
44     DIRT
45     DIRH
46     DIR1
47     DIR3
48     DIR4
49     DIR5
50     DIR6
51     IC99

In [92]:
terminales = pd.merge(df, df1, how='inner', on='CUIT')
terminales

         AÑO  MES      FECHA  ...  CODADUANA             ADUANA    Terminal
0       2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
1       2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
2       2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
3       2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
4       2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
...      ...  ...        ...  ...        ...                ...         ...
142591  2021    1 2021-01-30  ...          8       Campana (08)      TOYOTA
142592  2021    1 2021-01-30  ...          8       Campana (08)      TOYOTA
142593  2021    1 2021-01-30  ...          8       Campana (08)      TOYOTA
142594  2021    1 2021-01-30  ...          8       Campana (08)      TOYOTA
142595  2021    1 2021-01-28  ...         73        Ezeiza (73)      TOYOTA

[142596 rows x 20 columns]

In [97]:
terminales_destinacion = pd.merge(terminales, df2, how='inner', on='DESTINAC')
terminales_destinacion

        AÑO  MES      FECHA  ...  CODADUANA             ADUANA    Terminal
0      2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
1      2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
2      2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
3      2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
4      2021    1 2021-01-15  ...          1  Buenos Aires (01)  VOLKSWAGEN
...     ...  ...        ...  ...        ...                ...         ...
57708  2021    1 2021-01-19  ...          8       Campana (08)      TOYOTA
57709  2021    1 2021-01-19  ...          8       Campana (08)      TOYOTA
57710  2021    1 2021-01-19  ...          8       Campana (08)      TOYOTA
57711  2021    1 2021-01-28  ...          8       Campana (08)      TOYOTA
57712  2021    1 2021-01-28  ...          8       Campana (08)      TOYOTA

[57713 rows x 20 columns]

In [101]:
a = []
s = []
o = []

for i in terminales_destinacion['NCM'].astype(str):
  a.append(i)

for i in a:
  s.append(i[0:4])
  o.append(i[0:8])

In [102]:
terminales_destinacion['NCM4'] = s
terminales_destinacion['NCM8'] = o
terminales_destinacion

        AÑO  MES      FECHA  ...    Terminal  NCM4      NCM8
0      2021    1 2021-01-15  ...  VOLKSWAGEN  4016  40169990
1      2021    1 2021-01-15  ...  VOLKSWAGEN  4016  40169990
2      2021    1 2021-01-15  ...  VOLKSWAGEN  8301  83012000
3      2021    1 2021-01-15  ...  VOLKSWAGEN  8708  87082999
4      2021    1 2021-01-15  ...  VOLKSWAGEN  8708  87082999
...     ...  ...        ...  ...         ...   ...       ...
57708  2021    1 2021-01-19  ...      TOYOTA  7326  73269090
57709  2021    1 2021-01-19  ...      TOYOTA  7326  73269090
57710  2021    1 2021-01-19  ...      TOYOTA  7326  73269090
57711  2021    1 2021-01-28  ...      TOYOTA  7326  73269090
57712  2021    1 2021-01-28  ...      TOYOTA  7326  73269090

[57713 rows x 22 columns]

In [ ]:
suma_terminal_destinacion = terminales_destinacion.groupby(['AÑO','MES','Terminal','ORIGEN','NCM4'], as_index=False).agg({'CIF_USS':'sum',
                                                                                                                          'CANTIDAD':'sum',
                                                                                                                          'KGS_NETOS':'sum'})
suma_terminal_destinacion

       AÑO  MES    Terminal    ORIGEN  NCM4  CIF_USS  CANTIDAD  KGS_NETOS
0     2021    1         FCA  Alemania  3819   172.20      12.0       7.28
1     2021    1         FCA  Alemania  3917    43.24       3.0       1.27
2     2021    1         FCA  Alemania  3919  1122.40   52000.0      61.70
3     2021    1         FCA  Alemania  3926   220.12    3001.0       6.00
4     2021    1         FCA  Alemania  4010   147.80       9.0       6.28
...    ...  ...         ...       ...   ...      ...       ...        ...
5054  2021    1  VOLKSWAGEN     Túnez  8512    19.34       2.0       0.28
5055  2021    1  VOLKSWAGEN   Ucrania  8536   230.46       6.0       7.51
5056  2021    1  VOLKSWAGEN   Uruguay  8544   226.98       2.0       0.45
5057  2021    1  VOLKSWAGEN   Uruguay  8708  3764.88      12.0       7.55
5058  2021    1  VOLKSWAGEN   Vietnam  4016    66.47      10.0       5.48

[5059 rows x 8 columns]

In [ ]:
# sumaterminal2 = suma_terminal_destinacion.drop(['CODORIGEN','CODMEDIDA','CODADUANA','CUIT','FOB_USS','NCM'], axis = 1)
# sumaterminal2

In [ ]:
writer = pd.ExcelWriter(path='/content/drive/MyDrive/Excels/Suma_Terminales_Impo_Mejorado.xlsx')
suma_terminal_destinacion.to_excel(writer, sheet_name='Output', index=False)
writer.save()