## Data display

This content is homemade, but the idea and foundamentals are thanks to **[Andryw](https://github.com/andryw/pandas_tips)**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [ ]:
print("The max limit for rows is: {} and the minimum is: {}" .format(pd.get_option('display.max_rows'), pd.get_option('display.min_rows')))

The max limit for rows is: 60 and the minimum is: 10

In [ ]:
df.head(61) # This truncates the display of the rows, so it will show the minimum (10)

    longitude  latitude  ...  median_income  median_house_value
0     -122.05     37.37  ...         6.6085            344700.0
1     -118.30     34.26  ...         3.5990            176500.0
2     -117.81     33.78  ...         5.7934            270500.0
3     -118.36     33.82  ...         6.1359            330000.0
4     -119.67     36.33  ...         2.9375             81700.0
..        ...       ...  ...            ...                 ...
56    -121.42     38.72  ...         3.0903             91900.0
57    -118.77     34.26  ...         5.6385            196900.0
58    -121.93     37.33  ...         3.5750            292200.0
59    -121.82     37.25  ...         3.9461            194300.0
60    -122.29     37.56  ...         5.8221            289400.0

[61 rows x 9 columns]

In [ ]:
lista = pd.DataFrame(df.columns)
lista.columns = ['Nombre de Columnas']
lista

   Nombre de Columnas
0           longitude
1            latitude
2  housing_median_age
3         total_rooms
4      total_bedrooms
5          population
6          households
7       median_income
8  median_house_value

In [ ]:
# Now lets see 100 rows. For that, we must use the 'set_option' command with the following arg.

pd.set_option('display.max_rows', 100) # If you set 'None' instead of 100 here, you'll get the display of all the rows
df.head(100) # If u replace 100 by 101 in this line, you can check that it gets truncated again

    longitude  latitude  ...  median_income  median_house_value
0     -122.05     37.37  ...         6.6085            344700.0
1     -118.30     34.26  ...         3.5990            176500.0
2     -117.81     33.78  ...         5.7934            270500.0
3     -118.36     33.82  ...         6.1359            330000.0
4     -119.67     36.33  ...         2.9375             81700.0
5     -119.56     36.51  ...         1.6635             67000.0
6     -121.43     38.63  ...         1.6641             67000.0
7     -120.65     35.48  ...         3.2250            166900.0
8     -122.84     38.40  ...         3.6696            194400.0
9     -118.02     34.08  ...         2.3333            164200.0
10    -118.24     33.98  ...         2.2054            125000.0
11    -119.12     35.85  ...         2.4167             58300.0
12    -121.93     37.25  ...         4.6900            252600.0
13    -117.03     32.97  ...         4.5625            231200.0
14    -117.97     33.73  ...         5.7121            222500.0
15    -117.99     33.81  ...         2.2000            153100.0
16    -120.81     37.53  ...         1.8750            181300.0
17    -121.20     38.69  ...         2.7174            137500.0
18    -118.88     34.21  ...         6.5851            300000.0
19    -122.59     38.01  ...         6.1724            414300.0
20    -122.15     37.75  ...         3.8913            126300.0
21    -121.37     38.68  ...         3.1786             83400.0
22    -118.16     34.07  ...         3.8644            241500.0
23    -122.20     37.79  ...         2.7788            115400.0
24    -117.28     33.28  ...         3.8156            150700.0
25    -118.03     34.16  ...         7.1615            484700.0
26    -122.42     37.76  ...         2.5403            250000.0
27    -118.39     33.99  ...         6.6030            369200.0
28    -118.45     34.07  ...         1.5830            350000.0
29    -118.48     34.01  ...         3.4852            425000.0
30    -119.35     36.33  ...         3.1486            105600.0
31    -118.30     33.91  ...         2.6182            172600.0
32    -121.13     39.31  ...         2.8102            128900.0
33    -118.08     34.55  ...         4.5237            141800.0
34    -118.32     33.94  ...         4.6389            183800.0
35    -118.11     34.00  ...         2.6250            178700.0
36    -122.53     37.97  ...         2.5125            270800.0
37    -118.02     33.92  ...         5.5238            185300.0
38    -118.05     33.93  ...         3.6771            141500.0
39    -119.01     34.23  ...         4.6930            232200.0
40    -119.32     36.20  ...         3.4231             83300.0
41    -116.92     32.77  ...         6.6783            275000.0
42    -118.06     34.15  ...        15.0001            500001.0
43    -117.27     34.09  ...         0.9838             79300.0
44    -118.23     34.13  ...         4.2891            214800.0
45    -117.24     33.17  ...         4.2826            237500.0
46    -121.91     37.44  ...         5.0808            212500.0
47    -118.29     33.94  ...         2.5398            105700.0
48    -121.35     38.00  ...         3.4231            123800.0
49    -117.99     33.78  ...         3.1049            173900.0
50    -120.99     37.70  ...         3.5877            160900.0
51    -119.42     35.97  ...         2.3516             47500.0
52    -122.21     37.80  ...         3.0682            156500.0
53    -118.17     33.80  ...         3.5313            187500.0
54    -117.90     34.09  ...         4.3409            191800.0
55    -117.99     33.93  ...         4.8523            175800.0
56    -121.42     38.72  ...         3.0903             91900.0
57    -118.77     34.26  ...         5.6385            196900.0
58    -121.93     37.33  ...         3.5750            292200.0
59    -121.82     37.25  ...         3.9461            194300.0
60    -122.29     37.56  ...         5.8221            289400.0
61    -121.78     37.23  ...         5.8980            229100.0
62    -118.41     34.00  ...         2.7153            265500.0
63    -121.67     40.87  ...         2.9063             77800.0
64    -118.00     33.92  ...         6.1273            289600.0
65    -117.22     32.73  ...         3.8409            291400.0
66    -121.08     37.69  ...         3.2246            129300.0
67    -117.53     33.92  ...         6.1561            233500.0
68    -117.46     34.08  ...         3.6602            120700.0
69    -117.97     33.86  ...         3.5855            174300.0
70    -121.92     37.33  ...         5.2831            299500.0
71    -118.20     34.04  ...         1.6888            125000.0
72    -118.06     33.80  ...         4.1379            212500.0
73    -122.05     37.36  ...         4.1369            316900.0
74    -123.79     39.50  ...         2.3250            157300.0
75    -120.79     37.49  ...         3.4167            160700.0
76    -121.89     37.35  ...         3.2599            183100.0
77    -118.43     34.20  ...         3.1118            238100.0
78    -118.75     34.17  ...         6.8075            325900.0
79    -122.47     37.99  ...         7.4940            439200.0
80    -120.69     37.40  ...         3.5167            137500.0
81    -118.28     34.05  ...         1.4801            212500.0
82    -118.44     34.25  ...         3.7000            176000.0
83    -122.05     38.26  ...         3.0912            126300.0
84    -121.99     37.35  ...         4.3971            238900.0
85    -121.02     37.68  ...         3.5489            106400.0
86    -119.85     36.74  ...         3.5375             96700.0
87    -118.02     34.08  ...         2.6071            175900.0
88    -123.52     41.01  ...         2.1542             83800.0
89    -122.40     37.62  ...         4.0238            224200.0
90    -118.13     34.15  ...         2.8125            141700.0
91    -122.00     37.98  ...         5.1118            226900.0
92    -118.45     34.25  ...         4.3839            204600.0
93    -117.50     33.87  ...         5.0493            239800.0
94    -122.22     37.84  ...         7.5000            295200.0
95    -119.82     36.64  ...         2.2466             96000.0
96    -120.21     36.77  ...         2.3194             90600.0
97    -120.97     38.42  ...         4.3029            121900.0
98    -121.19     38.87  ...         6.0000            209400.0
99    -118.20     33.77  ...         2.2344            200000.0

[100 rows x 9 columns]

In [ ]:
# U can reset the display of rows to default [10,60] like this:
pd.reset_option('max_rows')
# Now if you attempt to display 100 rows, it will get truncated again
df.head(100)

    longitude  latitude  ...  median_income  median_house_value
0     -122.05     37.37  ...         6.6085            344700.0
1     -118.30     34.26  ...         3.5990            176500.0
2     -117.81     33.78  ...         5.7934            270500.0
3     -118.36     33.82  ...         6.1359            330000.0
4     -119.67     36.33  ...         2.9375             81700.0
..        ...       ...  ...            ...                 ...
95    -119.82     36.64  ...         2.2466             96000.0
96    -120.21     36.77  ...         2.3194             90600.0
97    -120.97     38.42  ...         4.3029            121900.0
98    -121.19     38.87  ...         6.0000            209400.0
99    -118.20     33.77  ...         2.2344            200000.0

[100 rows x 9 columns]

In [ ]:
df1 = pd.read_excel("/content/drive/MyDrive/Altri/CCNN/Índices de precios/IPC Región GBA.xlsx") # , sheet_name=None | This is for seeing all the sheets of the file
print(type(df1)) # If I want to see all the sheets, then 'df1' will be a 'dict' object type
df1

<class 'pandas.core.frame.DataFrame'>

         Fecha  ...  IPC Región GBA. Bienes y servicios varios (Índice base dic-16 = 100)
0   1987-01-31  ...                                                NaN
1   1987-02-28  ...                                                NaN
2   1987-03-31  ...                                                NaN
3   1987-04-30  ...                                                NaN
4   1987-05-31  ...                                                NaN
..         ...  ...                                                ...
405 2020-10-31  ...                                            346.386
406 2020-11-30  ...                                            357.917
407 2020-12-31  ...                                            362.618
408 2021-01-31  ...                                            370.195
409        NaT  ...                                        End of Data

[410 rows x 15 columns]

In [ ]:
df1 = pd.ExcelFile("/content/drive/MyDrive/Altri/CCNN/Índices de precios/IPC Región GBA.xlsx")

print(pd.DataFrame(df1.sheet_names)) # Shows me a list containing the names of the sheets available
print("\nThere're", len(set(df1.sheet_names)), "sheets in the file.")
print('\n', type(df1)) # But you can see that the object type has changed as well

                          0
0             Nivel general
1                Categorías
2        Bienes y servicios
3   Productos seleccionados
4                  Apertura
5     Variaciones mensuales
6  Variaciones interanuales
7                  Metadata

There're 8 sheets in the file.

 <class 'pandas.io.excel._base.ExcelFile'>

In [ ]:
df1.parse(sheet_name='Variaciones interanuales') # Another way to display a sheet

         Fecha  Estimado IPC Región GBA. Nivel general (Var a/a)
0   1988-01-31       NaN                                 178.711
1   1988-02-29       NaN                                 188.993
2   1988-03-31       NaN                                  206.46
3   1988-04-30       NaN                                 247.575
4   1988-05-31       NaN                                 286.101
..         ...       ...                                     ...
393 2020-10-31       NaN                                 35.6767
394 2020-11-30       NaN                                  34.245
395 2020-12-31       NaN                                  34.097
396 2021-01-31       NaN                                 35.9362
397        NaT       NaN                             End of Data

[398 rows x 3 columns]

In [ ]:
# Lets try to see again all the sheets without using the ExcelFile class
df1 = pd.read_excel("/content/drive/MyDrive/Altri/CCNN/Índices de precios/IPC Región GBA.xlsx", sheet_name=None)
df1 # It's not pretty, and actually I found that there's a mistake in the 'Apertura' sheet. You can notice the exacerbated n° of cols (291)

{'Apertura':         Fecha  ... Unnamed: 290
 0  2016-12-31  ...          NaN
 1  2017-01-31  ...          NaN
 2  2017-02-28  ...          NaN
 3  2017-03-31  ...          NaN
 4  2017-04-30  ...          NaN
 5  2017-05-31  ...          NaN
 6  2017-06-30  ...          NaN
 7  2017-07-31  ...          NaN
 8  2017-08-31  ...          NaN
 9  2017-09-30  ...          NaN
 10 2017-10-31  ...          NaN
 11 2017-11-30  ...          NaN
 12 2017-12-31  ...          NaN
 13 2018-01-31  ...          NaN
 14 2018-02-28  ...          NaN
 15 2018-03-31  ...          NaN
 16 2018-04-30  ...          NaN
 17 2018-05-31  ...          NaN
 18 2018-06-30  ...          NaN
 19 2018-07-31  ...          NaN
 20 2018-08-31  ...          NaN
 21 2018-09-30  ...          NaN
 22 2018-10-31  ...          NaN
 23 2018-11-30  ...          NaN
 24 2018-12-31  ...          NaN
 25 2019-01-31  ...          NaN
 26 2019-02-28  ...          NaN
 27 2019-03-31  ...          NaN
 28 2019-04-30  ...          NaN
 29 2019-05-31  ...          NaN
 30 2019-06-30  ...          NaN
 31 2019-07-31  ...          NaN
 32 2019-08-31  ...          NaN
 33 2019-09-30  ...          NaN
 34 2019-10-31  ...          NaN
 35 2019-11-30  ...          NaN
 36 2019-12-31  ...          NaN
 37 2020-01-31  ...          NaN
 38 2020-02-29  ...          NaN
 39 2020-03-31  ...          NaN
 40 2020-04-30  ...          NaN
 41 2020-05-31  ...          NaN
 42 2020-06-30  ...          NaN
 43 2020-07-31  ...          NaN
 44 2020-08-31  ...          NaN
 45 2020-09-30  ...          NaN
 46 2020-10-31  ...          NaN
 47 2020-11-30  ...     365.9583
 48 2020-12-31  ...          NaN
 49 2021-01-31  ...          NaN
 50        NaT  ...          NaN

 [51 rows x 291 columns],
 'Bienes y servicios':         Fecha  ... IPC Región GBA. Servicios (Índice base dic-16 = 100)
 0  2016-04-30  ...                                            83.9892
 1  2016-05-31  ...                                            86.7991
 2  2016-06-30  ...                                            90.6853
 3  2016-07-31  ...                                            93.3136
 4  2016-08-31  ...                                            92.6895
 5  2016-09-30  ...                                            92.2331
 6  2016-10-31  ...                                            95.8356
 7  2016-11-30  ...                                            97.9394
 8  2016-12-31  ...                                                100
 9  2017-01-31  ...                                             101.74
 10 2017-02-28  ...                                            105.747
 11 2017-03-31  ...                                            107.843
 12 2017-04-30  ...                                            110.996
 13 2017-05-31  ...                                             112.54
 14 2017-06-30  ...                                            114.513
 15 2017-07-31  ...                                             117.56
 16 2017-08-31  ...                                            119.498
 17 2017-09-30  ...                                            121.764
 18 2017-10-31  ...                                            123.033
 19 2017-11-30  ...                                            124.055
 20 2017-12-31  ...                                             132.34
 21 2018-01-31  ...                                            133.955
 22 2018-02-28  ...                                             138.65
 23 2018-03-31  ...                                            142.608
 24 2018-04-30  ...                                            147.393
 25 2018-05-31  ...                                            148.327
 26 2018-06-30  ...                                            153.647
 27 2018-07-31  ...                                            156.125
 28 2018-08-31  ...                                             164.94
 29 2018-09-30  ...                                             169.79
 30 2018-10-31  ...                                            176.733
 31 2018-11-30  ...                                            180.263
 32 2018-12-31  ...                                            187.847
 33 2019-01-31  ...                                            193.238
 34 2019-02-28  ...                                            201.543
 35 2019-03-31  ...                                            210.118
 36 2019-04-30  ...                                            215.973
 37 2019-05-31  ...                                            222.363
 38 2019-06-30  ...                                            227.953
 39 2019-07-31  ...                                            233.595
 40 2019-08-31  ...                                            238.503
 41 2019-09-30  ...                                            246.613
 42 2019-10-31  ...                                            253.813
 43 2019-11-30  ...                                            260.004
 44 2019-12-31  ...                                            272.821
 45 2020-01-31  ...                                            276.504
 46 2020-02-29  ...                                            280.654
 47 2020-03-31  ...                                             292.18
 48 2020-04-30  ...                                            292.137
 49 2020-05-31  ...                                            293.308
 50 2020-06-30  ...                                            295.042
 51 2020-07-31  ...                                            297.721
 52 2020-08-31  ...                                            302.115
 53 2020-09-30  ...                                            304.732
 54 2020-10-31  ...                                            310.069
 55 2020-11-30  ...                                            318.996
 56 2020-12-31  ...                                            333.985
 57 2021-01-31  ...                                            343.072
 58        NaT  ...                                        End of Data

 [59 rows x 3 columns],
 'Categorías':         Fecha  ... IPC Región GBA. Regulados (Índice base dic-16 = 100)
 0  2016-04-30  ...                                            84.0036
 1  2016-05-31  ...                                            91.3453
 2  2016-06-30  ...                                            94.4671
 3  2016-07-31  ...                                            96.2589
 4  2016-08-31  ...                                            94.5591
 5  2016-09-30  ...                                            93.2777
 6  2016-10-31  ...                                            97.2229
 7  2016-11-30  ...                                             99.054
 8  2016-12-31  ...                                                100
 9  2017-01-31  ...                                            101.127
 10 2017-02-28  ...                                            106.349
 11 2017-03-31  ...                                            109.887
 12 2017-04-30  ...                                            113.899
 13 2017-05-31  ...                                            115.217
 14 2017-06-30  ...                                            116.357
 15 2017-07-31  ...                                            118.809
 16 2017-08-31  ...                                            120.596
 17 2017-09-30  ...                                             122.48
 18 2017-10-31  ...                                            124.117
 19 2017-11-30  ...                                            125.199
 20 2017-12-31  ...                                            136.396
 21 2018-01-31  ...                                            138.063
 22 2018-02-28  ...                                            145.061
 23 2018-03-31  ...                                            148.548
 24 2018-04-30  ...                                            155.845
 25 2018-05-31  ...                                            155.694
 26 2018-06-30  ...                                            161.208
 27 2018-07-31  ...                                            164.516
 28 2018-08-31  ...                                            176.449
 29 2018-09-30  ...                                            183.617
 30 2018-10-31  ...                                            195.871
 31 2018-11-30  ...                                            201.092
 32 2018-12-31  ...                                            206.768
 33 2019-01-31  ...                                            213.308
 34 2019-02-28  ...                                            223.715
 35 2019-03-31  ...                                            236.496
 36 2019-04-30  ...                                            243.818
 37 2019-05-31  ...                                            252.052
 38 2019-06-30  ...                                            258.734
 39 2019-07-31  ...                                            262.784
 40 2019-08-31  ...                                            267.921
 41 2019-09-30  ...                                            276.084
 42 2019-10-31  ...                                            280.964
 43 2019-11-30  ...                                             290.97
 44 2019-12-31  ...                                            304.221
 45 2020-01-31  ...                                            306.668
 46 2020-02-29  ...                                            308.915
 47 2020-03-31  ...                                            321.614
 48 2020-04-30  ...                                            319.846
 49 2020-05-31  ...                                            319.583
 50 2020-06-30  ...                                            321.553
 51 2020-07-31  ...                                            323.237
 52 2020-08-31  ...                                            325.869
 53 2020-09-30  ...                                             330.84
 54 2020-10-31  ...                                            334.765
 55 2020-11-30  ...                                            337.225
 56 2020-12-31  ...                                            345.619
 57 2021-01-31  ...                                            360.625
 58        NaT  ...                                        End of Data

 [59 rows x 4 columns],
 'Metadata':            Conjunto  ... Territorio
 0    IPC Región GBA  ...         AR
 1               NaN  ...         AR
 2               NaN  ...         AR
 3               NaN  ...         AR
 4               NaN  ...         AR
 ..              ...  ...        ...
 130             NaN  ...         AR
 131             NaN  ...         AR
 132             NaN  ...         AR
 133             NaN  ...         AR
 134             NaN  ...         AR

 [135 rows x 9 columns],
 'Nivel general':          Fecha  ...  IPC Región GBA. Bienes y servicios varios (Índice base dic-16 = 100)
 0   1987-01-31  ...                                                NaN
 1   1987-02-28  ...                                                NaN
 2   1987-03-31  ...                                                NaN
 3   1987-04-30  ...                                                NaN
 4   1987-05-31  ...                                                NaN
 ..         ...  ...                                                ...
 405 2020-10-31  ...                                            346.386
 406 2020-11-30  ...                                            357.917
 407 2020-12-31  ...                                            362.618
 408 2021-01-31  ...                                            370.195
 409        NaT  ...                                        End of Data

 [410 rows x 15 columns],
 'Productos seleccionados':         Fecha  ... IPC Región GBA. Precio de Pañales descartables (ARS / 10 u)
 0  2016-04-30  ...                                                NaN
 1  2016-05-31  ...                                                NaN
 2  2016-06-30  ...                                                NaN
 3  2016-07-31  ...                                              42.36
 4  2016-08-31  ...                                               42.8
 5  2016-09-30  ...                                              43.09
 6  2016-10-31  ...                                              43.45
 7  2016-11-30  ...                                              43.68
 8  2016-12-31  ...                                              43.38
 9  2017-01-31  ...                                              44.12
 10 2017-02-28  ...                                              44.49
 11 2017-03-31  ...                                              45.11
 12 2017-04-30  ...                                               45.7
 13 2017-05-31  ...                                               45.9
 14 2017-06-30  ...                                              45.15
 15 2017-07-31  ...                                              45.09
 16 2017-08-31  ...                                               45.1
 17 2017-09-30  ...                                              45.91
 18 2017-10-31  ...                                              46.26
 19 2017-11-30  ...                                              46.65
 20 2017-12-31  ...                                              46.92
 21 2018-01-31  ...                                              47.03
 22 2018-02-28  ...                                              47.09
 23 2018-03-31  ...                                              47.54
 24 2018-04-30  ...                                              47.85
 25 2018-05-31  ...                                              48.96
 26 2018-06-30  ...                                              51.02
 27 2018-07-31  ...                                              53.17
 28 2018-08-31  ...                                              56.04
 29 2018-09-30  ...                                              64.76
 30 2018-10-31  ...                                              70.17
 31 2018-11-30  ...                                              73.46
 32 2018-12-31  ...                                              79.25
 33 2019-01-31  ...                                              85.05
 34 2019-02-28  ...                                              85.75
 35 2019-03-31  ...                                              91.16
 36 2019-04-30  ...                                              94.55
 37 2019-05-31  ...                                              98.31
 38 2019-06-30  ...                                              99.55
 39 2019-07-31  ...                                             104.71
 40 2019-08-31  ...                                             110.62
 41 2019-09-30  ...                                             123.21
 42 2019-10-31  ...                                             128.66
 43 2019-11-30  ...                                             139.95
 44 2019-12-31  ...                                              149.1
 45 2020-01-31  ...                                             154.85
 46 2020-02-29  ...                                             155.59
 47 2020-03-31  ...                                             156.37
 48 2020-04-30  ...                                             152.94
 49 2020-05-31  ...                                             162.36
 50 2020-06-30  ...                                             163.51
 51 2020-07-31  ...                                             165.29
 52 2020-08-31  ...                                             173.53
 53 2020-09-30  ...                                              177.1
 54 2020-10-31  ...                                              177.6
 55 2020-11-30  ...                                             185.44
 56 2020-12-31  ...                                             180.04
 57 2021-01-31  ...                                             181.44
 58        NaT  ...                                        End of Data

 [59 rows x 60 columns],
 'Variaciones interanuales':          Fecha  Estimado IPC Región GBA. Nivel general (Var a/a)
 0   1988-01-31       NaN                                 178.711
 1   1988-02-29       NaN                                 188.993
 2   1988-03-31       NaN                                  206.46
 3   1988-04-30       NaN                                 247.575
 4   1988-05-31       NaN                                 286.101
 ..         ...       ...                                     ...
 393 2020-10-31       NaN                                 35.6767
 394 2020-11-30       NaN                                  34.245
 395 2020-12-31       NaN                                  34.097
 396 2021-01-31       NaN                                 35.9362
 397        NaT       NaN                             End of Data

 [398 rows x 3 columns],
 'Variaciones mensuales':         Fecha  ...  IPC Región GBA. Regulados (Var m/m)
 0  2016-05-31  ...                              8.73974
 1  2016-06-30  ...                              3.41758
 2  2016-07-31  ...                              1.89675
 3  2016-08-31  ...                             -1.76586
 4  2016-09-30  ...                             -1.35513
 5  2016-10-31  ...                              4.22952
 6  2016-11-30  ...                               1.8834
 7  2016-12-31  ...                             0.955035
 8  2017-01-31  ...                                  1.1
 9  2017-02-28  ...                                  5.2
 10 2017-03-31  ...                                  3.3
 11 2017-04-30  ...                                  3.7
 12 2017-05-31  ...                                  1.2
 13 2017-06-30  ...                                    1
 14 2017-07-31  ...                                  2.1
 15 2017-08-31  ...                                  1.5
 16 2017-09-30  ...                                  1.6
 17 2017-10-31  ...                                  1.3
 18 2017-11-30  ...                                  0.9
 19 2017-12-31  ...                                  8.9
 20 2018-01-31  ...                                  1.2
 21 2018-02-28  ...                                  5.1
 22 2018-03-31  ...                                  2.4
 23 2018-04-30  ...                                  4.9
 24 2018-05-31  ...                                 -0.1
 25 2018-06-30  ...                                  3.5
 26 2018-07-31  ...                                  2.1
 27 2018-08-31  ...                                  7.3
 28 2018-09-30  ...                                  4.1
 29 2018-10-31  ...                                  6.7
 30 2018-11-30  ...                                  2.7
 31 2018-12-31  ...                                  2.8
 32 2019-01-31  ...                                  3.2
 33 2019-02-28  ...                                  4.9
 34 2019-03-31  ...                                  5.7
 35 2019-04-30  ...                                  3.1
 36 2019-05-31  ...                                  3.4
 37 2019-06-30  ...                                  2.7
 38 2019-07-31  ...                                  1.6
 39 2019-08-31  ...                                    2
 40 2019-09-30  ...                                    3
 41 2019-10-31  ...                                  1.8
 42 2019-11-30  ...                                  3.6
 43 2019-12-31  ...                                  4.6
 44 2020-01-31  ...                                  0.8
 45 2020-02-29  ...                                  0.7
 46 2020-03-31  ...                                  4.1
 47 2020-04-30  ...                                 -0.5
 48 2020-05-31  ...                                 -0.1
 49 2020-06-30  ...                                  0.6
 50 2020-07-31  ...                             0.523646
 51 2020-08-31  ...                             0.814263

In [ ]:
# For now lets move on with the 'Productos seleccionados' sheet, that has 60 columns

df1 = pd.read_excel("/content/drive/MyDrive/Altri/CCNN/Índices de precios/IPC Región GBA.xlsx", sheet_name='Productos seleccionados')
df1

        Fecha  ... IPC Región GBA. Precio de Pañales descartables (ARS / 10 u)
0  2016-04-30  ...                                                         NaN
1  2016-05-31  ...                                                         NaN
2  2016-06-30  ...                                                         NaN
3  2016-07-31  ...                                                       42.36
4  2016-08-31  ...                                                        42.8
..        ...  ...                                                         ...
56 2020-12-31  ...                                                      180.04
57 2021-01-31  ...                                                      181.44
58        NaT  ...                                                 End of Data
59        NaT  ...                                                         NaN
60        NaT  ...                                                         NaN

[61 rows x 60 columns]

In [ ]:
# The cols are too comprised, so lets expand their width

pd.set_option("display.max_colwidth", None) # The parameter 'None' do this till the max width necessary
df1[['Fecha', 'IPC Región GBA. Precio de Pan francés tipo flauta (ARS / Kg)']].head()

       Fecha IPC Región GBA. Precio de Pan francés tipo flauta (ARS / Kg)
0 2016-04-30                                                        29.85
1 2016-05-31                                                        30.85
2 2016-06-30                                                        32.56
3 2016-07-31                                                        33.07
4 2016-08-31                                                        33.96

In [ ]:
# Lastly I leave you the command in case you want to expand cols display. I won't run this cell
pd.set_option('max_columns', None)
# You can also try: pd.set_option('max_columns', df.shape[1]+1) to display the cols that the dataset has + 1 (it's the same)
pd.reset_option('max_columns')

## Other tips/tricks

In [ ]:
# Control decimal places to column. I won't run this cell either

pd.set_option('precision', 2) # 2 is the number of decimals I choose to see in the dataset

In [ ]:
# The sequence of items (lists) are also truncated if they have many characters:

df1["New col"] = [['a']*100] * df1.shape[0] # df1.shape[0] it's to match the number of rows the dataset has
df1[["Fecha", "New col"]].head()

       Fecha                                                                                                                                                                                                                                                                                                       New col
0 2016-04-30  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
1 2016-05-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
2 2016-06-30  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
3 2016-07-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
4 2016-08-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]

In [ ]:
pd.reset_option('max_colwidth')
df1[['Fecha', 'New col']]

# But, if u haven't touched the "max_colwidth" option, this is what happens

        Fecha                                            New col
0  2016-04-30  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
1  2016-05-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
2  2016-06-30  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
3  2016-07-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
4  2016-08-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
..        ...                                                ...
56 2020-12-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
57 2021-01-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
58        NaT  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
59        NaT  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...
60        NaT  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, ...

[61 rows x 2 columns]

In [ ]:
# So for display all the items (list) that a single register could contain:

pd.set_option("display.max_colwidth", None)
pd.set_option("max_seq_item", None)
df1[['Fecha', 'New col']]

        Fecha                                                                                                                                                                                                                                                                                                       New col
0  2016-04-30  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
1  2016-05-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
2  2016-06-30  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
3  2016-07-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
4  2016-08-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
..        ...                                                                                                                                                                                                                                                                                                           ...
56 2020-12-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
57 2021-01-31  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
58        NaT  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
59        NaT  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]
60        NaT  [a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a, a]

[61 rows x 2 columns]